[submodule "pdffields"]
	path = pdffields
	url = https://github.com/runartrollet/pdffields.git
	branch = utf8
[submodule "pdfstamp"]
	path = pdfstamp
	url = https://github.com/CrossRef/pdfstamp.git
[submodule "addresses"]
	path = addresses
	url = https://github.com/runartrollet/addresses.git
[submodule "vk_data_extract"]
	path = vk_data_extract
	url = git@github.com:runartrollet/vk_data_exstract.git
