.message-box {
  border: 3px solid #266cac;
  padding: 8px 5px;
  margin: 15vh 4px 5px; }

  canvas {
    border: 1px solid black; }

    #input-anleggs_postnummer {
      width: 100px; }

      legend {
        font-size: 14px;
        font-weight: 700;
        border: 0;
        margin-bottom: 5px; }

        @media screen and (max-width: 450px) {
          label {
            font-size: 12px;   }
}
