<script type="text/html" id="calculations_template">
  <h4>
    Kalkulasjoner
  </h4>

  <!-- ko if: product()-->
  <!-- ko if: product().type != 'mat' -->
  <!-- ko with: area_output() -->
  <div class="col-xs-4">
    <div class="form-group">
      {{ heatingForm.specs.area_output.v.label(**{'data-bind': "css: { 'text-warning': output.modified()} " })}}
      {{ heatingForm.specs.area_output.v(class_='form-control',  **{'data-bind': "textInput: override() ? user_input : (calculated()).toFixed(1) , 'attr': { 'readonly': !override() }"}) }}
    </div>
    <div class="checkbox">
      <label data-bind="css: { 'text-warning': override.modified() }">
        <input data-bind="checked: override" type="checkbox">
        Manuell
      </label>
    </div>
  </div>
  <!-- /ko -->
  <!-- ko with: cc() -->
  <div class="col-xs-4">
    <div class="form-group">
      {{ heatingForm.specs.cc.v.label(**{'data-bind': "css: { 'text-warning': output.modified()} " })}}
      {{ heatingForm.specs.cc.v(class_='form-control',  **{'data-bind': "textInput: override() ? user_input : (calculated()).toFixed(1) , 'attr': { 'readonly': !override() }"}) }}
    </div>
    <div class="checkbox">
      <label data-bind="css: { 'text-warning': override.modified() }">
        <input data-bind="checked: override" type="checkbox">
        Manuell
      </label>
    </div>
  </div>
  <!-- /ko -->
  <!-- /ko -->
  <!-- /ko -->
</script>
