<!DOCTYPE html>

<!-- Customer -->

<!-- ko with: customer -->
<div class="row">
<div class="col-xs-12">
<h3><span data-bind="text: address1() ? address1 : 'Kunde'"></span>
  <div class="btn-toolbar pull-right">
    <div class="btn-group-sm btn-group">
      <button type="button" class="btn btn-primary" data-bind="click: create_new">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        Ny kunde</button>
      <button type="button" class="btn btn-primary" data-bind="
      click: get_form_and_open" data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span>">
        <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
        Lag skjema</button>
    </div>
    <!-- ko if: id() >= 0 -->
      <div class="btn-group-sm btn-group">
        <button
          type="button"
          class="btn btn-danger"
          data-bind="
            click: function() {comfirm_delete_dialog('Slette kunde?', 'Er du sikker på at du vil slette denne kunden?', modified() || sub_modified()? 'Du har ulagrede elementer her': undefined)}"
          data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span>">Slett</button>
      </div>
      <!-- /ko -->
  </div>
</h3>
</div>
</div>


<div class="row hidden" data-bind="css: {hidden: loading() || id() >= -1}">
  <div class="bs-callout bs-callout-primary">
    <h4>Ingen Kunde valgt.</h4>
    Du kan velge en kunde ovenfra om det er laget noen fra før, eller lage en ny kunde ved å bruke knappen ovenfor.
  </div>
</div>

<div data-bind="if: id() >= -1">
  <div class="well col-xs-12 ">
    <form id="customer_form">
      <legend>Kundeinformasjon</legend>
      <div class="fieldset">
        {{ render_field(customerForm.address.address1, 'form-group, col-xs-12', **{'data-bind':" value: address1, typeahead: autocompleteAddress, templateName: 'suggestion-template', displayKey: 'street_name', onSelectFunction: suggestionOnSelect "}) }}
        {{ render_field(customerForm.address.address2,
        'form-group, col-xs-12', no_label=True, **{'data-bind':" textInput: address2 "}) }}
        {{ render_field(customerForm.address.post_code, 'form-group col-xs-4 col-sm-2 zero-pad-r', **{'data-bind':" textInput: post_code"}) }}
        {{ render_field(customerForm.address.post_area,'form-group
        col-xs-8 col-sm-10 zero-pad-l' , **{'data-bind': "textInput: post_area", 'readonly':'readonly'}) }}
        <div class="col-xs-12">
          <button
            type="button"
            class="btn btn-primary pull-right"
            data-bind="
          click: post,
          css: {opaque: !validationModel.isValid() || !modified()},
          enable: modified() && validationModel.isValid(),
            text: id() >= 0 ? 'Endre' : 'Lagre'"
            data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span>"></button>

        </div>
      </div>
    </form>
  </div>
  <!-- Room -->
  <!-- ko if: rooms -->
  <h3 class="clearfix">
    Rom/stedsinformasjon
    <!-- ko if: id() >= 0 -->
    <button type="button" class="btn btn-sm btn-primary pull-right" data-bind="click: rooms().add"><span class="glyphicon glyphicon-plus"></span> Legg til rom</button>
    <!-- /ko -->
  </h3>
  <!-- /ko -->
  <div class="col-xs 12">
    <!-- ko with: rooms().list() -->
    {% include 'includes/schema/room_accordian.html' %}
    <!-- /ko -->
  </div>
  <!-- /ko -->
</div>
<!-- /ko -->
