<!DOCTYPE html>
<div class="panel-group" role="tablist" aria-multiselectable="true" data-bind="attr: {'id': 'accordian-heat' + $parent.id()}">
  <!-- ko foreach: $data-->
  <div class="panel panel-primary">
    <div class="panel-heading collapsed" data-toggle="collapse" data-bind="attr: { 'data-target': '#heat' + id(), 'href': '#heat' + id(), 'data-parent': '#accordian-heat' + $parents[1].id()}">
      <h3 class="panel-title carrot relative has-logo">
        <!-- ko if: product() -->
        <img class="manufacturor-logo" data-bind="attr: {src: 'static/icons/' + product().manufacturor + '.svg'}" alt="">
        <span class="hidden-xs" data-bind="html: product().name"></span>
        <span class="visible-xs-inline" data-bind="html: product().short_name + product().effect"></span>
        <!-- /ko -->
        <!-- ko if: modified -->
        <span class="icon-mod-flag" aria-hidden="true"></span>
        <!-- /ko -->
      </h3>
    </div>
    <div class="panel panel-collapse collapse " data-bind="
attr: {'id': 'heat' + id()}
">
      <div class="panel-body small-pad">
        <div class="panel-group" id="heating-accordian" data-bind="attr: {
                            'id': 'heating-accordian' + id(),
                          }">

          <div class="panel panel-default">
            <div
              class="panel-heading accordian-toggle collapsed"
              data-toggle="collapse"
              role="tab"
              data-bind="attr: {
                    'id': 'heading_select_cable' + id(),
                    'data-target': '#panel_select_cable' + id(),
                    'data-parent': '#heating-accordian' + id()
                  }">
              <h4 class="panel-title carrot">Varmekabel
                <!-- ko if: product_modifications -->
                <span class="icon-mod-flag" aria-hidden="true"></span>
                <!-- /ko -->
              </h4>
            </div>
            <div
              class="panel-collapse collapse accordian-toggle collapsed"
              role="tabpanel"
              data-bind="attr: {
                    'id': 'panel_select_cable' + id(),
                    'aria-labelledby': 'heading_select_cable' + id(),
                    'data-parent': '#heating-accordian' + id()
                  }">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- ko template: { name: 'select_product_template', data: $data} -->
                    <!-- /ko -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div
              class="panel-heading accordian-toggle collapsed"
              data-toggle="collapse"
              role="tab"
              data-bind="attr: {
                    'id': 'heading_measurements' + id(),
                    'data-target': '#panel_measurements' + id(),
                    'data-parent': '#heating-accordian' + id()
                  }">
              <h4 class="panel-title carrot">Målinger

                <!-- ko if: measurements_modifications -->
                <span class="icon-mod-flag" aria-hidden="true"></span>
                <!-- /ko -->
              </h4>
            </div>
            <div class="panel-collapse collapse" data-bind="attr: {
                    'id': 'panel_measurements' + id(),
                    'aria-labelledby': 'heading_measurements' + id(),
                  }">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- ko template: { name: 'measurements_template', data: $data, afterRender: bindDatePicker} -->
                    <!-- /ko -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="panel panel-default">
            <div
              class="panel-heading accordian-toggle collapsed"
              data-toggle="collapse"
              role="tab"
              data-bind="attr: {
                    'id': 'heading_others' + id(),
                    'data-target': '#panel_others' + id(),
                    'data-parent': '#heating-accordian' + id()
                  }">
              <h4 class="panel-title carrot">
                Annet
                <!-- ko if: modifications_other -->
                <span class="icon-mod-flag" aria-hidden="true"></span>
                <!-- /ko -->
              </h4>
            </div>
            <div class="panel-collapse collapse " data-bind="attr: {
                    'id': 'panel_others' + id(),
                    'aria-labelledby': 'heading_others' + id(),
                  }">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12">
                    <!-- ko template: { name: 'calculations_template', data: $data} -->
                    <!-- /ko -->
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row clearfix">
          <div class="col-xs-12">
            <div class="btn-group pull-right">
              <button
                type="button"
                class="btn btn-primary"
                data-bind="
        click: $data.post,
    css: {opaque: !validationModel.isValid() || !modified()},
    enable: modified() && validationModel.isValid()"
                data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span>">Lagre</button>
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Vis dropdown-meny</span>
              </button>
              <ul class="dropdown-menu dropdown-primary">
                <li data-bind="css:{disabled: modified()}" >
                  <a data-bind="
    click: modified()? undefined: get_form_and_open, css: modified">
                    <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                    Forhåndsvisning</a>
                </li>
                <li>
                  <a class="c-danger" data-bind="
      click: function() {comfirm_dialog('Slette <b>' + product().name + '</b>', 'Er du sikker på at du vil slette denne varmakabelen?', modified()? 'Du har ulagrede elementer her': undefined, this.delete)}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Slett varmekabel</a>
                </li>
              </ul>
            </div>
            <!-- ko if: file_download() -->
            <div class="row">
              <a target="VarmeDokPDF" data-bind="attr: {'href': file_download()}">Trykk her for å laste ned Forhåndsvisningen</a>
            </div>
            <!-- /ko -->
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
