<!DOCTYPE html>
<script type="text/html" id="heating_cable_template">
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title" data-bind="text: product().name"></h3>
    </div>
    <div class="panel-content">
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_select_cable" aria-expanded="false" aria-controls="collapse_select_cable">Endre kabel</button>
      <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapse_measurements" aria-expanded="false" aria-controls="collapse_measurements">Målinger</button>
      <div class="collapse" id="collapse_select_cable">
        <!-- ko template: { name: 'select_product_template', data: $data} -->
        <!-- /ko -->
      </div>
      <div class="collapse" id="collapse_measurements">
        <!-- ko template: { name: 'measurements_template', data: $data} -->
        <!-- /ko -->
      </div>
    </div>
  </div>
</script>
