<!DOCTYPE html>
<script type="text/html"
        id="measurements_template">
  <h4>
        Målinger
      </h4>
  <small class="col-xs-12 well well-lg">
    Målingene bør ligge mellom:
    <span data-bind="text: product_restrictions().bottom.toFixed(2)"></span>&nbsp;Ω og
    <span data-bind="text: product_restrictions().top.toFixed(2)"></span>&nbsp;Ω
    for denne varmekabelen.
  </small>
  <!-- ko with: measurements -->
  <div class="form-group col-xs-4">
    <label for="input-ohm_a">Før installasjon</label>
    <input class="form-control"
           type="number"
           step="0.01"
           min="0"
           name="ohm_a"
           id="input-ohm_a"
           data-bind="textInput: ohm_a">
  </div>
  <div class="form-group col-xs-4">
    <label for="input-ohm_b">Før støping</label>
    <input class="form-control"
           type="number"
           step="0.01"
           min="0"
           name="ohm_b"
           id="input-ohm_b"
           data-bind="textInput: ohm_b">
  </div>
  <div class="form-group col-xs-4">
    <label for="input-ohm_c">Før tilkobling</label>
    <input class="form-control"
           type="number"
           step="0.01"
           min="0"
           name="ohm_c"
           id="input-ohm_c"
           data-bind="textInput: ohm_c">
  </div>
  <fieldset class="col-xs-12">
    <legend>Isolasjonsmotstand</legend>
    <p>Kryss av i hvert under felt hvor Isolasjonsmotstanden i varmekabelen er tilfredstillende god (100 MΩ)</p>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <label class="checkbox-inline">
              <input type="checkbox" name="mohm_a" value="999" data-bind="checked: mohm_a">
              Før installasjon
            </label>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <label class="checkbox-inline">
              <input type="checkbox" name="mohm_b" value="999" data-bind="checked: mohm_b">
              Før støping
            </label>
    </div>
    <div class="col-xs-4 col-sm-3 col-md-2">
      <label class="checkbox-inline">
              <input type="checkbox" name="mohm_c" value="999" data-bind="checked: mohm_c">
              Før tilkobling
            </label>
    </div>
  </fieldset>
  <!-- /ko -->
</script>
