<!-- ko if: heating_cables().list().length > 0 -->
  <hr>
  <h2>Sjekkliste</h2>
  <div class="bs-callout bs-callout-info">
    <p>Denne sjekklisten gjelder for alle kablene i dette rommet/stedet.</p>
    <p>Kun de påkrevde feltene vises.</p>
  </div>
  <div class="well well-sm col-xs-12">
    <div class="col-xs-6" data-bind="visible: heating_cables().has_manufacturor('Nexans')">
      <label data-bind="css: { 'label-mod-flag': curcuit_breaker_size.modified() }"><br class="visible-xs-inline">Sikringsstørrelse</label>
      <select class="form-control col-xs-12" data-bind="options: $root.curcuit_breaker_list,
                        optionsText: 'text',
                        optionsValue: 'id',
                        value: curcuit_breaker_size"></select>
    </div>
    <div class="col-xs-12" data-bind="css: {'col-xs-6': heating_cables().has_manufacturor('Nexans')}">
      <div class="form-group">
        <label data-bind="css: { 'label-mod-flag': ground_fault_protection.modified() }">Utløserstrøm<br class="visible-xs-inline">
          jordfeil</label>
        <input type="number" min="0" data-bind="textInput:ground_fault_protection" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-xs-12 well well-sm">
    <!-- ko if: use_outside_checklist()-->
    <h3>Utendørs installasjon</h3>
    <div class="csscolumn-234">
      <div>{{render_field( roomForm.outside_specs.concrete, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_concrete"}) }}</div>

      <div>{{render_field( roomForm.outside_specs.asphalt, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_asphalt"}) }}</div>

      <div>{{render_field( roomForm.outside_specs.paving_stones, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_paving_stones"}) }}</div>

      <div>{{render_field( roomForm.outside_specs.vessel, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_vessel"}) }}</div>

      <div>{{render_field( roomForm.outside_specs.frost_protection_pipe, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_frost_protection_pipe"}) }}</div>

      <div>{{render_field( roomForm.outside_specs.frost_protection, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: outside_frost_protection"}) }}</div>
    </div>
    <!-- /ko -->
    <!-- ko if: use_inside_checklist()-->
    <h3>Innendørs installasjon</h3>
    <div class="csscolumn-234">
      <div>{{render_field( roomForm.inside_specs.concrete, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: inside_concrete"}) }}</div>

      <div>{{render_field( roomForm.inside_specs.LamiFlex, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: inside_LamiFlex"}) }}</div>

      <div>{{render_field( roomForm.inside_specs.frost_protection_pipe, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: inside_frost_protection_pipe"}) }}</div>

      <div>{{render_field( roomForm.inside_specs.low_profile, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: inside_low_profile"}) }}</div>

      <div>{{render_field( roomForm.inside_specs.fireproof, class_='checkbox ', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: inside_fireproof"}) }}
      </div>

    </div>
    {{render_field( roomForm.inside_specs.other,**{'data-bind':"textInput: inside_other"}) }}
    <!-- /ko -->
    <div class="col-xs-12">
      <div class="form-group">
        <label data-bind="css: { 'label-mod-flag': installation_depth.modified() }">Montasjedybde (mm)</label>
        <input type="number" min="0" data-bind="textInput: installation_depth" class="form-control">
      </div>
    </div>
  </div>
  <!-- ko if: heating_cables().has_manufacturor('Nexans') -->
  <div class="col-xs-12 well well-sm">
    <h3>Jording</h3>
    <div class="csscolumn-">
      {{render_field( roomForm.check_earthed.cable_screen, class_='checkbox',formgroup='checkbox', **{'data-bind':"checked: earthed_cable_screen"}) }}

      {{render_field( roomForm.check_earthed.chicken_wire, class_='checkbox',formgroup='checkbox', **{'data-bind':"checked: earthed_chicken_wire"}) }}
    </div>
    {{render_field( roomForm.check_earthed.other, formgroup='form-group', **{'data-bind':"textInput: earthed_other"}) }}
  </div>
  <!-- /ko -->
  <div class="col-xs-12 well well-sm">
    <h3>Styresystem</h3>

    {{render_field( roomForm.check_control_system.designation, formgroup='form-group', **{'data-bind':"textInput: control_system_designation"}) }}
    <label>Følertype</label>
    <div class="justified-xs-column-3">
      <div>
        {{render_field( roomForm.check_control_system.floor_sensor, class_='checkbox-inline', formgroup='checkbox-inline', **{'data-bind':"checked: control_system_floor_sensor"})}}
      </div>
      <div>
        {{render_field( roomForm.check_control_system.room_sensor, class_='checkbox-inline', formgroup='checkbox-inline', **{'data-bind':"checked: control_system_room_sensor"}) }}
      </div>
      <div>
        {{render_field( roomForm.check_control_system.limit_sensor, class_='checkbox-inline', formgroup='checkbox-inline', **{'data-bind':"checked: control_system_limit_sensor"}) }}

      </div>
    </div>
    {{render_field( roomForm.check_control_system.other, formgroup='form-group', **{'data-bind':"textInput: control_system_other"}) }}
  </div>
  <div class="col-xs-12 well well-sm">
    <h3>Beskyttelsestiltak</h3>
    <p >Maks temperatur i opppvarmingssystemet er begrenset til 80˚C ved</p>

    {{render_field( roomForm.check_max_temp.planning, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: max_temp_limited_by_planning"}) }}

    {{render_field( roomForm.check_max_temp.installation, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: max_temp_limited_by_installation"}) }}

    <!-- ko if: heating_cables().has_manufacturor('Nexans') -->
    {{render_field( roomForm.check_max_temp.other, formgroup='form-group', **{'data-bind':"textInput: max_temp_limited_by_other"}) }}
    <!-- /ko -->
  </div>
  <div class="col-xs-12 well well-sm">
    {{render_field( roomForm.owner_informed, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: owner_informed"}) }}

    {{render_field( roomForm.handed_to_owner, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: handed_to_owner"}) }}
  </div>
  <div>
    <div class="text-right">
      <button
        type="button"
        class="btn btn-primary"
        data-bind=" click: post_all, css: {opaque: !validationModel.isValid() || !modified()}, enable: modified() && validationModel.isValid(), text: id() >= 0 ? 'Endre' : 'Lagre'"
        data-loading-text="
          <span class='glyphicon glyphicon-refresh spinning'></span>"></button>

    </div>
  </div>
<!-- /ko -->
