<!DOCTYPE html>
<div class="panel-group" id="accordion-room" role="tablist" aria-multiselectable="true">
  <!-- ko foreach: $data -->
  <div class="panel" data-bind="css: {'panel-primary': !modified(), 'panel-mod-flag': modified()}">
    <div class="panel-heading collapsed" data-parent="#accordion-room" data-toggle="collapse" data-bind="attr: { 'data-target': '#room' + id(), 'href': '#room' + id()}">
      <h3 class="panel-title carrot">

        <span data-bind="if: !name()">Nytt rom/sted</span>
        <span data-bind="text: name"></span>
        <span class="opaquelight">
          <!-- ko if: area && heated_area -->
          <span class="hidden-xs">&ensp;&mdash;&ensp;</span>
          <!-- /ko -->
          <!-- ko if: area -->
          <span class="hidden-xs" data-bind="text: area() + '&nbsp;m²'"></span>
          <!-- /ko -->
          <!-- ko if: heated_area -->
          <span class="hidden-xs" data-bind="text:'(' +  heated_area() + '&nbsp;m²)'"></span>
          <!-- /ko -->
          <!-- ko if: room_effect -->
          <span class="" data-bind="text:'&ensp;&mdash;&ensp;' +  room_effect() + '&nbsp;W'"></span>
          <!-- /ko -->
        </span>
        <!-- ko if: modified -->
        <b>Ikke lagret</b>
        <!-- /ko -->
        <!-- ko if: sub_modified -->
        <span class="icon-mod-flag" aria-hidden="true"></span>
        <!-- /ko -->

      </h3>
    </div>
    <div class="panel panel-collapse scrollto collapse" data-bind="
    attr: {'id': 'room' + id()}
    " role="tabpanel">
      <div class="panel-body">
        <div class="col-xs-12 well collapse" data-bind="attr: { 'id': 'room-form' + id()}">
          <!-- ko template: { name: 'room_form_template', data: $data} -->
          <!-- /ko -->
          <!-- ko if: bestFitEffect() -->
          <div data-bind="text: 'Ideell effekt: ' + bestFitEffect().toFixed(0) + 'W'"></div>
          <!-- /ko -->
        </div>
        <!-- ko if: id() >= 0 -->
        <div class="select_products" data-bind="if: id() >= 0">
          <h3>Varmekabler
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-sm btn-primary" data-bind="click: function (d, e){heating_cables().add(e)}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Legg til varmekabel</button>
              <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="caret"></span>
                <span class="sr-only">Vis dropdown-meny</span>
              </button>
              <ul class="dropdown-menu dropdown-primary">
                <li>
                  <a data-toggle="collapse" aria-expanded="false" data-bind="attr: { 'href': '#room-form' + id(), 'aria-controls': '#room-form' + id()}">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    Endre rom</a>
                </li>
                <li>
                  <a
                    class="c-danger"
                    data-bind="
                                  click: function() {comfirm_delete_dialog('Slette <b>' + name() + '</b>', 'Er du sikker på at du vil slette dette rommet/stedet?', modified() || sub_modified()? 'Du har ulagrede elementer her': undefined)}">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    Slett rom</a>
                </li>
              </ul>
            </div>
          </h3>
          <!-- ko with: heating_cables().list() -->
          {% include 'includes/schema/heating_cable.html' %}
          <!-- /ko -->
          <!-- ko ifnot: heating_cables().list().length -->
          <div class="well well-sm ">Ingen varmekabler lagt til enda. Du kan legge til en ved å trykke på knappen ovenfor.
          </div>
          <!-- /ko -->
        </div>
        <hr>
        <h2>Sjekkliste</h2>
        <div class="well well-sm">
          <p>Denne sjekklisten gjelder for alle kablene i dette rommet/stedet.</p>
          <p>Kun de påkrevde feltene vises.</p>
        </div>
        <fieldset>
          <legend>Jording</legend>
          {{render_field( roomForm.check_earthed.cable_screen, class_='checkbox', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: earthed_cable_screen"}) }}
          {{render_field( roomForm.check_earthed.chicken_wire, class_='checkbox', label_class='checkbox-inline', formgroup=None, **{'data-bind':"checked: earthed_chicken_wire"}) }}
          {{render_field( roomForm.check_earthed.other, formgroup='form-group', **{'data-bind':"textInput: earthed_other"}) }}
        </fieldset>
        <fieldset>
          <legend>Max temperatur</legend>
          <p >Maks temperatur i opppvarmingssystemet er begrenset til 80˚C ved</p>

          {{render_field( roomForm.check_max_temp.planning, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: max_temp_limited_by_planning"}) }}
          {{render_field( roomForm.check_max_temp.installation, class_='checkbox', formgroup='checkbox', **{'data-bind':"checked: max_temp_limited_by_installation"}) }}
          {{render_field( roomForm.check_max_temp.other, formgroup='form-group', **{'data-bind':"textInput: max_temp_limited_by_other"}) }}
        </fieldset>
        <fieldset>
          <legend>Styresystem</legend>

          {{render_field( roomForm.check_control_system.designation, formgroup='form-group', **{'data-bind':"textInput: control_system_designation"}) }}
          {{render_field( roomForm.check_control_system.floor_sensor, class_='checkbox-inline', formgroup='checkbox-inline', **{'data-bind':"checked: control_system_floor_sensor"}) }}
          {{render_field( roomForm.check_control_system.room_sensor, class_='checkbox-inline', formgroup='checkbox-inline', **{'data-bind':"checked: control_system_room_sensor"}) }}
          {{render_field( roomForm.check_control_system.other, formgroup='form-group', **{'data-bind':"textInput: control_system_other"}) }}
        </fieldset>

        <div class="row">
          <div class="col-xs-12">
            <div class="text-right">
              <button
                type="button"
                class="btn btn-primary"
                data-bind=" click: post, css: {opaque: !validationModel.isValid() || !modified()}, enable: modified() && validationModel.isValid(), text: id() >= 0 ? 'Endre' : 'Lagre'"
                data-loading-text="
                <span class='glyphicon glyphicon-refresh spinning'></span>"></button>

            </div>
          </div>
        </div>
        <!-- /ko -->
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
