<!DOCTYPE html>
<div class="panel-group" id="accordion-room">
  <!-- ko with: $data -->
  <div class="panel" data-bind="css: {'panel-primary': !modified(), 'panel-mod-flag': modified()}">
    <div class="panel-heading collapsed" data-toggle="collapse" aria-expanded="false" href="#room-form" aria-controls="#room-form">
      <h3 class="panel-title carrot">

        <span>
          <span data-bind="if: !name()">Nytt rom/sted</span>
          <span data-bind="text: name"></span>
          <span class="opaquelight">
            <!-- ko if: area && heated_area -->
            <span class="hidden-xs">&ensp;&mdash;&ensp;</span>
            <!-- /ko -->
            <!-- ko if: area -->
            <span class="hidden-xs" data-bind="text: area() + '&nbsp;m²'"></span>
            <!-- /ko -->
            <!-- ko if: heated_area -->
            <span class="hidden-xs" data-bind="text:'(' +  heated_area() + '&nbsp;m²)'"></span>
            <!-- /ko -->
            <!-- ko if: room_effect -->
            <span class="" data-bind="text:'&ensp;&mdash;&ensp;' +  room_effect() + '&nbsp;W'"></span>
            <!-- /ko -->
          </span>
          <!-- ko if: modified -->
          <b>Ikke lagret</b>
          <!-- /ko -->
          <!-- ko if: sub_modified -->
          <span class="icon-mod-flag" aria-hidden="true"></span>
          <!-- /ko -->
        </span>
      </h3>
    </div>
    <div class="panel" role="tabpanel">
      <div class="panel-body">
        <div class="collapse" id="room-form">
          <div class="well well-sm">
            <div class="row">
              <div class="col-xs-12">
                <button type="button" class="close close-dark pull-right" aria-label="Close" data-bind="click: function(d,e){$(e.target).closest('.collapse').collapse('toggle')}">
                  <span aria-hidden="true">&times;</span>
                </button>
                <!-- ko template: { name: 'room_form_template', data: $data} -->
                <!-- /ko -->
                <!-- ko if: bestFitEffect() -->
                <div data-bind="text: 'Ideell effekt: ' + bestFitEffect().toFixed(0) + 'W'"></div>
                <!-- /ko -->
              </div>
            </div>
          </div>
        </div>
        <!-- ko if: id() >= 0 -->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="justified">Varmeprodukter
                <button type="button" class="btn btn-sm btn-primary" data-bind="click: function (d, e){heating_cables().add(e)}">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                  <span class="hidden-xs">Legg til varmeprodukt</span>
                </button>
              </h2>
            </div>
          </div>
          <div class="select_products" data-bind="if: id() >= 0">
            <!-- ko with: heating_cables().list() -->
            {% include 'includes/schema/heating_cable.html' %}
            <!-- /ko -->

            <!-- ko ifnot: heating_cables().list().length -->
            <div class="bs-callout bs-callout-info">
              <h3>Ingen varmeprodukter lagt til enda</h3>
              <p class="help-block">Du kan legge til en ved å trykke på knappen ovenfor.</p>
            </div>
            <!-- /ko -->
          </div>
        {% include 'includes/schema/room_checklist.html' %}
        <!-- /ko -->
      </div>
    </div>
  </div>
  <!-- /ko -->
</div>
