<!DOCTYPE html>
<script type="text/html" id="room-accordian">
  <!-- ko foreach: $data -->
  <div class="panel" data-bind="css: {'panel-primary': id() >= 0, 'panel-info': id() < 0}">
    <div class="panel-heading collapsed" data-parent="#accordion-room" data-toggle="collapse" data-bind="attr: { 'data-target': '#room' + id(), 'href': '#room' + id()}">
      <h3 class="panel-title">
        <a role="button">
          <span data-bind="text: name().length > 0 && id() >= 0 ? name : 'Nytt rom/sted'"></span>
        </a>
      </h4>
    </div>
    <div class="panel-collapse collapse in" data-bind="
    attr: {'id': 'room' + id()}
    " role="tabpanel">
      <div class="panel-body">
        <div class="col-xs-12 well">
          <!-- ko template: { name: 'room_form_template', data: $data} -->
          <!-- /ko -->
        </div>
        <div class="select_products" data-bind="if: id() >= 0">
          <h4>Varmekabler</h4>
          <!-- ko if: heating_cables().list() -->
          <!-- ko foreach: heating_cables().list()-->
          <!-- ko if: product -->
          <!-- /ko -->
          <!-- ko template: {name: 'heating_cable_template', data: $data} -->
          <!-- /ko -->
          <!-- /ko -->
          <!-- /ko -->
          <hr>
          <button type="button" class="btn btn-primary pull-right" data-bind="click: heating_cables().add">Legg til varmekabel</button>
        </div>
      </div>
    </div>
  </div>
  <!-- /ko -->
</script>
