<!DOCTYPE html>
<script type="text/html" id="select_product_template">

  <div class="row">
    <div class="col-xs-12">
      <!-- ko with: product_filter -->
      <div class="btn-group btn-group-justified btn-group-dropdowns">
        <div class="btn-group">
          <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Produsenter
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <!-- ko foreach: product_model.products -->
              <a href="#" data-bind="css: {active: $parent.selected_manufacturors().indexOf(name) != -1}, click: $parent.toggle_selected_manufacturor">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span data-bind="text: name"></span>
              </a>
              <!-- /ko -->
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-info btn-xs dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Type
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li>
              <!-- ko foreach: vk_available_types -->
              <a href="#" data-bind="css: {active: observer()}, click: $parent.toggle_selected_vk_type">
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                <span data-bind="text: name"></span>
              </a>
              <!-- /ko -->
            </li>
          </ul>
        </div>
        <div class="btn-group">
          <button class="btn btn-info btn-xs" type="button" data-bind="click: function(){outside(!outside())}">
            <span data-bind="text: outside()? 'Utebruk':'Innebruk'"></span>
          </button>
        </div>
      </div>
      <div class="well pb-0">
        <div class="form-group">
          <label>Hurtigsortering effekt (<span data-bind="text: effect"></span>&thinsp;W)</label>
          <div class="text-center">
            <input type="text" class="slider form-control" value="" data-bind="sliderValue:{value: effect, min: 0, max: 3300, step: 50, tooltip: 'show'}"/>
          </div>
          <div data-bind="if: $parent.suggested_effect() > 0">
            Anbefalt effekt:
            <a href="#" data-bind="click: function(){effect($parent.suggested_effect());$parent.product_pagination.current_page(0)}">
              <span data-bind="text: $parent.suggested_effect"></span>&thinsp;W</a>
          </div>
          <div data-bind="if: $parent.product()">
            Valgt produkt:
            <a href="#" data-bind="click: $parent.go_to_selected_product">
              <!-- ko with: $parent.product -->
              <span data-bind="text: short_name + ' ' + effect + '&thinsp;W'"></span>
              <!-- /ko -->
            </a>
          </div>
        </div>

        <!-- /ko -->

        <!-- /ko -->
      </div>

      <ul class="list-group list-group-striped ">
        <!-- ko if: $parent.product_pagination.paginated ().length == 0 -->
        <li class="bs-callout bs-callout-info">
          <h3>Ingen produkter å vise.</h3>
          <p class="help-block">
            Sansynligvis skyldes dette filtreringen.
          </p>
        </li>
        <!-- /ko -->
        <!-- ko foreach: $parent.product_pagination.paginated -->
        <a href="#" class="list-group-item" data-bind="click: $parents[1].select_product, css: {active: id == $parents[1].product_id()}">
          <h4 class="list-group-item-heading relative has-logo">
            <img class="manufacturor-logo" data-bind="attr: {src: 'static/icons/' + manufacturor + '.svg'}" alt="">
            <span data-bind="text: short_name"></span>
          </h4>
          <p class="list-group-item-text justified">
            <span data-bind="text: effect? effect + '&thinsp;W':''"></span>
            <!-- ko if: mainSpec -->
            <span>
              <!-- ko text: mainSpec -->
              <!-- /ko -->&thinsp;W/m<!-- ko if: isMat -->²<!-- /ko --></span>
            <!-- /ko -->
            <span data-bind="text: (isMat? 'Matte' : per_meter? 'Enleder' : 'Kabel')"></span>
            <div class="visible-active min2lines">
              <hr>
              <div class=" justified justified-text-center">
                <span>El.nr.:
                  <span class="text-nowrap" data-bind="text: id.toString().replace(/(\d{2})(\d{3})(\d{2})/g, '$1&thinsp;$2&thinsp;$3')"></span>
                </span>
                <!-- ko if: specs -->
                <!-- ko if: specs.Length -->
                <span data-bind="text: 'Lengde: ' + specs.Length"></span>
                <!-- /ko -->
                <!-- ko if: specs.Width -->
                <span data-bind="text: 'Bredde: ' + specs.Width"></span>
                <!-- /ko -->
                <!-- ko if: specs.Area -->
                <span data-bind="text: 'Areal: ' + specs.Area"></span>
                <!-- /ko -->
                <!-- /ko -->
              </div>

            </div>
          </p>

        </a>
        <!-- /ko -->
      </ul>
      <!-- ko with: $parent.product_pagination-->
      <nav aria-label="Sidenavigering for liste med varmekabler">
        <ul class="pager">
          <li class="previous" data-bind="css:{disabled: !has_previous()}">
            <a href="#" data-bind="click: previous">
              <span aria-hidden="true">&larr;</span>
              Forrige</a>
          </li>
          <li class="next" data-bind="css: {disabled: !has_next()}">
            <a href="#" data-bind="click: next">Neste
              <span aria-hidden="true">&rarr;</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /ko -->
      <!-- /ko -->
    </div>

  </div>
</div>

</script>
