#input-anleggs_postnummer{
    width: 100px;
}
legend{
    font-size: 14px;
    font-weight: 700;
    border: 0;
    margin-bottom: 5px;
}
@media screen and (max-width: 450px) {
    label{
        font-size: 12px;
    }
}

input[type=radio]{
     margin:0;
}
.wrap{
  display: flex;
  justify-content: space-between;
}
.radio-Wm{
  min-width: 65px;
  display: inline;
}
