$primary-color: #266cac;

.message-box {
    border: 3px solid $primary-color;
    padding: 8px 5px;
    margin: 15vh 4px 5px;
    }

footer{
    margin: 40px 0;
    text-align: center;
}
canvas{
    border: 1px solid black;
}
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

.icons {
    white-space: nowrap;
    .glyphicon {
        font-size: 1.25em;
        white-space: nowrap;
    }
    .glyphicon:not(:last-child){
        margin-right:0.3em
    }
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
.row-flex{
  display: flex;
  justify-content: space-between;
}
.pointer{
  cursor: pointer;
}
.flex{
  display: flex;
}
.between{
  justify-content: space-between;
}
.equal-four > *{
    width: 25%;
    *:last-child{
        text-align: right;
    }
}
@import "form";
