<!DOCTYPE html>

<!-- Customer -->

<h4 class="">Kundeinformasjon</h4>
{% from "includes/formhelpers.html" import render_field,
render_field_group %}
{{ form.csrf_token }}

<form id="customer_form" autocomplete="off">
  {{ customerForm.csrf_token }}
  {{ customerForm.address.csrf_token }}
  {{ render_field(customerForm.address.address1, 'form-group, col-xs-12', **{'data-bind':" value: anleggs_adresse, typeahead: autocompleteAddress, templateName: 'suggestion-template', displayKey: 'street_name', onSelectFunction: suggestionOnSelect "})
  }}
  {{ render_field(customerForm.address.address2, 'form-group, col-xs-12', no_label=True, **{'data-bind':" value: anleggs_adresse2 "}) }}
  {{ render_field(customerForm.address.post_code, 'form-group
  col-xs-4 col-sm-2', **{'data-bind':" value: anleggs_postnummer"}) }}
  {{ render_field(customerForm.address.post_area,'form-group col-xs-8 col-sm-10' , **{'data-bind': "value: anleggs_poststed", 'readonly':'readonly'}) }}
  <div class="col-xs-12">
    <button type="button" class="btn btn-primary pull-right" data-bind="click: post_customer_form, css: {opaque: validation_errors().length > 0}" data-loading-text="<span class='glyphicon glyphicon-refresh spinning'></span>">
      <span data-bind="text: customer_id() ? 'Endre' : 'Lagre'"></span>
    </button>
  </div>
</form>

<!-- Room -->
<!-- ko if: rooms -->
<h4 class="panel-title">
  Rom/stedsinformasjon
</h4>
<!-- List of rooms -->
<div div id="collapse-form-rom" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="form-rom">
  <div class="panel-body row">
    <div class="panel-group col-xs-12" id="accordion-room" role="tablist" aria-multiselectable="true">
      <!-- ko template: { name: 'room-accordian', data: rooms} -->
      <!-- /ko -->

    </div>
  </div>
  <!-- Room form -->
</div>
<!-- /ko -->
<!-- ko if: customer_id -->
<button type="button" class="btn btn-primary pull-right" data-toggle="collapse" data-target=" #new_room_form">Legg til rom</button>

<div id="new_room_form" class="collapse">
  <!-- ko template: { name: 'room_form_template', data: new_room} -->
  <!-- /ko -->
</div>
<!-- /ko -->
