<!DOCTYPE html>
<script type="text/html" id="form_template">
    <!-- ko foreach: $data -->
    <div class="panel panel-default">
        <div class="panel-heading">
            <!-- data-bind="click: function (){$root.edit_form($data.modifications[0])}" -->
            <div>
                <h3 class="panel-title">
                    <a class="collapsed" role="button" data-toggle="collapse" data-bind="attr: { 'data-target': '#' + $parent.prefix + $index(), 'href': '#' + $parent.prefix + $index()}">
                        <span data-bind="text: modifications[0].request_form.anleggs_adresse"></span>
                        –
                        <span data-bind="text: modifications[0].request_form.rom_navn"></span>
                    </a>
                </h4>
            </div>
            <div class="row-flex small">
                <div>
                    <span class="hidden-xs" data-bind="text: 'Opprettet ' +  format_date(creation_time)"></span>
                    <span class="visible-xs" data-bind="text: 'Opprettet ' +  format_date(creation_time, 'short')"></span>
                </div>
                <div data-bind="text: $root.get_product_by_id(modifications[0].request_form.product_id).effect + 'W'"></div>
            </div>
            <!-- /ko -->
        </div>
        <div class="panel-collapse collapse" data-bind="attr: {'id': $parent.prefix + $index()}" role="tabpanel">
            <div class="panel-body">
                <!-- ko if: $data.modifications.length > 0 -->
                <h5>Liste over endringer:</h5>
                <!-- ko foreach: $data.modifications-->
                <div class="mod-row">
                    <div class="row">
                        <div class="col-xs-7">
                            <div class="row">
                                <div class="col-sm-12 col-md-4">
                                    <span class="hidden-xs" data-bind="text: format_date(date)"></span>
                                    <span class="visible-xs" data-bind="text: format_date(date, 'short')"></span>
                                </div>
                                <div class="col-sm-12 col-md-8">
                                    <!-- ko if: $data.user -->
                                    <!-- ko text: $data.user -->
                                    <!-- /ko -->
                                    <!-- /ko -->
                                    <!-- ko ifnot: $data.user -->
                                    (meg)
                                    <!-- /ko -->
                                </div>
                            </div>
                        </div>
                        <div class="icons col-xs-5 text-right">
                            <span class="glyphicon glyphicon-edit" aria-hidden="true" data-bind="click: function (){$root.edit_form($data)}"></span>
                            <span class="glyphicon glyphicon-save-file" aria-hidden="true"></span>
                            <span class="glyphicon glyphicon-trash pointer" aria-hidden="true" data-bind="click: $root.delete.bind($data, id)"></span>
                        </div>
                    </div>
                </div>
                <!-- ko if: $root.delete() == id -->
                <div class="alert alert-danger alert-dismissible fade in">
                    <button type="button" class="close" data-bind="click: $root.delete.bind()" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                    Er du helt sikker på at du virkelig vil slette dette utfylte skjermaet?
                    <hr>
                    <div>
                        <button type="button" class="btn btn-danger" data-bind="click: $root.confirmed_delete">Ja, slett denne</button>
                        <button type="button" data-bind="click: $root.delete.bind()" class="btn btn-default">Nei, ikke gjør det</button>
                    </div>
                </div>
                <!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->
            </div>
        </div>
    </div>
    <!-- /ko -->
</script>
