<header>
    <a href="{{url_for('view_form') if current_user.company else url_for('landing_page')}}"><h1>VarmeDok</h1></a>
    <!-- <p>Et prosjekt i utvikling. Henter inn og fyller ut dokumentasjon basert på de mest essensielle feltene, så slipper du å skrive inn produkt-data, gjøre utregninger, fylle ut dato osv. Du kan selfølgelig gjøre manuelle endringer i skjemaet i ettertid.</p> -->
    {% include 'includes/messages.html' %}
    {% if current_user.is_authenticated %}
      Hei <a href="{{url_for('control_panel')}}">
        {% if current_user.role == UserRole.companyAdmin %}
          <span class="glyphicon glyphicon-flash" aria-hidden="true"></span>
        {% endif %}
        {{ current_user.given_name + ' ' + current_user.family_name }}</a>
      {% if current_user.company %}
      <a href="{{url_for('control_panel_company')}}">
        ({{ current_user.company.name }})</a>
      {% endif %}
      <a href="{{ url_for("logout") }}">Logg ut</a>
    {% else %}
      Du er ikke logget inn.
      <a href="{{ url_for("login") }}">
      <span class="gSignInWrapper">
        <span  class="customBtn customGPlusSignIn">
            <img class="icon" src="{{url_for('static', filename='icons/btn_google_light_normal_ios.svg')}}" alt="Google">
          <span class="buttonText">Logg inn med Google</span>
        </span>
      </span>
    </a>
    {% endif %}
    <hr>
</header>
