<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{url_for('landing_page')}}">VarmeDok</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      {% if current_user.is_authenticated %}
      <ul class="nav navbar-nav">
        <li{% if pane == 0 %} class="active"{%endif%}>
          <a {% if not is_app  %} href="{{url_for('view_form')}}" {% endif %} {% if is_app %} href="#customer-pane" aria-controls="customer-pane" role="tab" data-toggle="tab"{% endif %}>Skjemautfylling
          </a>
        </li>
        <li{% if pane == 1 %} class="active"{%endif%}>
          <a {% if not is_app  %} href="{{url_for('view_form', pane='1')}}" {% endif %} {% if is_app %} href="#customer-list-pane" aria-controls="customer-list-pane" role="tab" data-toggle="tab"{% endif %}>Kundeskjemaer
          </a>
        </li>
      </ul>
      {% endif %}
      <ul class="nav navbar-nav navbar-right">
        {% if not current_user.is_authenticated %}
          <li>
            <p class="navbar-text">Logg inn med:</p>
          </li>
          <li>
            <a class="" href="{{ url_for('google.login', redirect_url=redirect_url) }}">
              <span class="fixed-container"><img class="fixed-icon" src="{{url_for('static', filename='icons/btn_google_light_normal_ios.svg')}}" alt="Google"></span>
              <span class="">
                Google</span>
            </a>
          </li>
        {% endif %}
        {% if current_user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Hei, Runar
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li>
                <a href="{{ url_for('control_panel') }}">Innstillinger</a>
              </li>
              <li>
                <a href="{{ url_for('control_panel_company') }}">{{ current_user.company.name }}</a>
              </li>
              <li role="separator" class="divider"></li>
              <li>
                <a href="{{ url_for('logout') }}">Logg ut</a>
              </li>
            </ul>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
