<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav visible-block" style="display: None">
    {% if is_app %}
      <!-- ko with: customer -->
      <li class="sidebar-brand">
        <a href="#" data-bind="click: function(){$('a[href=&quot;#customer-pane&quot;]').tab('show');$('#customer_form_collapse').collapse('toggle')}">
          <span data-bind="text: address1() ? address1 : 'Kunde'"></span>
          <div>
            <small class="text-muted">
              <!-- ko if: address2 -->
              <br>
              <span data-bind="text: address2"></span><br>
              <!-- /ko -->
              <span data-bind="text: post_code"></span>
              <span data-bind="text: post_area"></span>
            </small>
          </div>
        </a>
      </li>
      <li>
        <a href="#" data-bind="click: confirm_create_new">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
          Ny kunde</a>
      </li>
      <hr>
      <li>
        <!-- <h4>Rom</h4> -->
        <ul>
          <!-- ko foreach: rooms().list -->
          <li data-bind="css: {active: $parent.rooms().selected() == $index()}">
            <a href="#" data-bind="click: function(){$parent.rooms().select($index());$('a[href=&quot;#customer-pane&quot;]').tab('show')}">
              <span data-bind="text: name() ? name() : 'Nytt rom/sted'"></span>
              <!-- ko if: area -->
              <small class="pull-right pr-4" data-bind="text: area() + '&thinsp;m²'"></small>
              <!-- /ko -->
            </a>
          </li>
          <!-- /ko -->
          <li data-bind="if: id() >= 0" >
            <a href="#" data-bind="click: function(){$('a[href=&quot;#customer-pane&quot;]').tab('show');rooms().add();$('#room-form').collapse('show')}">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
              Legg til rom</a>
          </li>
        </ul>
        <!-- /ko -->
      </li>
    {% endif %}
    {% if current_user.is_authenticated %}
    <hr>
    <li{% if pane == 0 %} class="active" {%endif%}>
      <a {% if not is_app  %} href="{{url_for('view_form')}}" {% endif %} {% if is_app %} href="#customer-pane" aria-controls="customer-pane" role="tab" data-toggle="tab" {% endif %}>Skjemautfylling
      </a>
    </li>
    <li{% if pane == 1 %} class="active" {%endif%}>
      <a {% if not is_app  %} href="{{url_for('view_form', pane='1')}}" {% endif %} {% if is_app %} href="#customer-list-pane" aria-controls="customer-list-pane" role="tab" data-toggle="tab" {% endif %}>Kundeskjemaer
      </a>
    </li>
    <hr>
    <li>
      <a href="{{ url_for('control_panel') }}"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Innstillinger</a>
    </li>
    {% if current_user.company %}
    <li>
      <a href="{{ url_for('control_panel_company') }}"><span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span> {{ current_user.company.name }}</a>
    </li>
    {% endif %}
    <li role="separator" class="divider"></li>
    <li>
      <a href="{{ url_for('logout') }}"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logg ut</a>
    </li>
    {% endif %}
  </ul>
</div>
