@import '../bootstrap/bootstrap.less';

.icon-mod-flag {
  .text-warning;
  .glyphicon;
  .glyphicon-exclamation-sign;
}

.label-mod-flag {
  .text-warning;
}

.panel-mod-flag {
  .panel-warning;
}
@primary-color: #266cac;
@primary-light-color: #60a5e3;
@break-sm: 768px;
@break-md: 992px;
@break-lg: 1200px;
@break-small: 320px;
@break-large: 1024px;

.message-box {
  border: 3px solid @primary-color;
  padding: 8px 5px;
  margin: 15vh 4px 5px;
}

footer {
  margin: 40px 0;
  text-align: center;
}

canvas {
  border: 1px solid black;
}

.glyphicon.spinning {
  animation: spin 1s infinite linear;
  -webkit-animation: spin2 1s infinite linear;
}

.icons {
  white-space: nowrap;

  .glyphicon {
    font-size: 1.25em;
    white-space: nowrap;
  }

  .glyphicon:not(:last-child) {
    margin-right: 0.3em;
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

.row-flex {
  display: flex;
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.flex {
  display: flex;
}

.between {
  justify-content: space-between;
}

.equal-four > * {
  width: 25%;

  *:last-child {
    text-align: right;
  }
}

.carrot:after {
  font-family: 'Glyphicons Halflings';
  content: "\e114";
  float: right;
  // color: grey;
}

.collapsed .carrot:after {
  content: "\e080";
}

.row.no-gutters {
  margin-right: 0;
  margin-left: 0;

  & > [class*=" col-"],
  & > [class^="col-"] {
    &:last-of-type {
      color: blue;
    }
    padding-right: 0;
    padding-left: 0;
  }
}

.small-pad {
  @media (min-width: @screen-sm-max) {
    padding-right: 6px !important;
    padding-left: 6px !important;
  }
}

.zero-pad {
  @media (max-width: @screen-xs-max) {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
}

.zero-pad-l {
  @media (min-width: @screen-sm-min) {
    padding-left: 0 !important;
  };
  &:extend(.zero-pad);
}

.zero-pad-r {
  @media (min-width: @screen-sm-min) {
    padding-right: 0 !important;
  };
  &:extend(.zero-pad);
}

.csscolumn {
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  @include media-min(sm) {
    -webkit-column-count: 4;
    -moz-column-count: 4;
    column-count: 4;
  }
  @include media-min(md) {
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
  }
}

.title-case {
  text-transform: capitalize;
}

.panel-default > .primary-bg {
  background-color: @primary-light-color;
}

.opaquelight {
  opacity: 0.75;
}

.opaque {
  opacity: 0.5;
}

.tab-content.panel {
  border-top: none;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.panel-body {
  padding-left: 6px !important;
  padding-right: 6px !important;
}

.panel-heading {
  cursor: pointer;
}

.icon {
  font-size: 30px;
  height: 1em;
}

.float-message {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
}

.large-text {
  font-size: @font-size-large;
}

.company-map {
  height: 400px;
  width: 100%;
}

.error {
  &:extend(.bg-danger);
}

.customBtn {
  display: inline-block;
  background: white;
  color: #444;
  width: 120px;
  border-radius: 5px;
  border: thin solid #888;
  box-shadow: 1px 1px 1px grey;
  white-space: nowrap;

  &.customBtnWide{
    width: 210px;
    .buttonText:before{
      content: 'Logg inn med '
    }
  }

  &:hover {
    cursor: pointer;
  }

  span.label {
    font-family: serif;
    font-weight: normal;
  }

  .icon {
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
  }

  .buttonText {
    display: inline-block;
    vertical-align: middle;
    // padding-left: 42px;
    padding-right: 42px;
    font-size: 14px;
    font-weight: bold;
    /* Use the Roboto font that is loaded in the <head> */
  }
}

.justified{
  display: flex;
  justify-content: space-between;
}
.justified>*{
}
