@spacer: 1em;
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.mr-1 {
  margin-right: @spacer * .25;
}

.pr-1 {
  margin-right: @spacer * .25;
}

.pr-2 {
  margin-right: @spacer * .5;
}

.pr-3 {
  margin-right: @spacer * .75;
}

.pr-4 {
  margin-right: @spacer;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}
