@spacer: 1em;
.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.px-0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mr-1 {
  margin-right: @spacer * .25;
}

.pl-0 {
  padding-left: 0!important;
}

.pr-0 {
  padding-right: 0!important;
}

.pr-1 {
  padding-right: @spacer * .25;
}

.pr-2 {
  padding-right: @spacer * .5;
}

.pr-3 {
  padding-right: @spacer * .75;
}

.pr-4 {
  padding-right: @spacer;
}

.pt-1 {
  padding-top: @spacer * .25;
}

.pt-2 {
  padding-top: @spacer * .5;
}

.pt-3 {
  padding-top: @spacer * .75;
}

.pt-4 {
  padding-top: @spacer;
}

.p-0 {
  padding: 0 !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.mt-0 {
  margin-top: 0 !important;
}
