<!DOCTYPE html>
<html lang="no">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Smart varmekabel-dokumentasjon</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.1149c4c11993b7f7d621b79b50709e52.css')}}">

  </head>

  <body>
    <div class="container">
      {% include 'includes/header.html' %}
      {% block body %}{% endblock %}
    </div>
  </body>
  <script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{url_for('static', filename='js/knockout-3.4.2.js')}}"></script>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.2/knockout-min.js"></script> -->
  {% block script %}{% endblock %}
</html>
