<!DOCTYPE html> {% extends 'landing.html' %} {% block extra %}
<div class="row">
  <div class="col-xs-12">

    {% if invite %}
  <h1>Invitasjon: <strong>{{invite.company.name}}</strong> </h1>

  <p>Du er blitt invitert til å bruke <strong>VarmeDok</strong> for å gjøre dokumentasjonen av varmekabler enklere hos {{invite.company.name}}.</p>
  <p>Få en rask innføring i hvordan VarmeDok kan hjelpe deg nedenfor.</p>
    {% if current_user.is_authenticated %}
    <form action="{{url_for('get_invite', invite_id=invite.id)}}" method="post">
      {{ form.csrf_token }}
      <input class="btn btn-primary" type="submit" value="Meld meg inn">
    </form>
    {% else %}
    <div class="bs-callout bs-callout-info">
      <h4>Innlogging kreves</h4>
      <p>Du må logg inn før du kan gå videre.</p>
      {% with login_text=True %}
      {% include 'includes/login_buttons.html' %}
      {% endwith %}
    </div>
    {% endif %}
  </div>
  {% else %} Denne invitasjonsnøkkelen er dessverre ikke gyldig. {% endif %}
</div>
<hr>
{% endblock %}
