<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
  {% block extra %}{% endblock %}

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1>Rask dokumentasjon fra flere produsenter</h1>
      <p class="lead">En mye raskere og enklere måte å dokumentere varmekabler på.</p>

      <p>Her fyller du bare ut basis-informasjon, og VarmeDok lager komplette dokumentassjon for deg, med utregninger, produktdata og mer. Selvsagt i henhold til krav om dokumentasjon fra hver enkelt produsent.</p>
    </div>

    <div class="row">
      <div class="col-xs-12  mt-4 mb-4">
        <div class="justified manufacturors text-center">
          <div class="col-xs-3">
            <img src="static/icons/Nexans.svg" alt="Nexans" class="img-responsive">
            Nexans
          </div>
          <div class="col-xs-3">
            <img src="static/icons/Thermofloor.svg" alt="Nexans" class="img-responsive">
            Thermofloor
          </div>
          <div class="col-xs-3">
            <img src="static/icons/Øglænd.svg" alt="Nexans" class="img-responsive">
            Øglænd
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">

        {% if current_user and current_user.is_authenticated and current_user.company %}
          <a class="btn btn-primary " href="{{ url_for('view_form') }}" role="button">Kom i gang &raquo;</a>
        {% else %}
          <a class="btn btn-primary  mb-4" href="{{ url_for('set_company')}}" role="button">Registrer firma &raquo;</a>
          {% with login_text = True %}
          {% include 'includes/login_buttons.html' %}
          {% endwith %}

          <a class="help-block" data-toggle="collapse" href="#firma-registrert" aria-expanded="false" aria-controls="firma-registrert">Er firmaet ditt allerede registrert hos oss?</a>
          <div class="row">
            <div class="collapse" id="firma-registrert">
              <div class="bs-callout bs-callout-info">
                <h3>Invitasjon fra kollega</h3>
                <p>Spør en kollega etter en invitasjonslenke. Invitasjoner kan enkelt lages fra kontrollpanelet.</p>
                <p>Da slipper du å fylle ut firmainformasjon, og dere kan finne alle firmaets dokumentasjon av varmekabler samlet her, for enkel redigering.</p>
              </div>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Smart utfylling</h2>
      <img class="img-thumbnail" src="{{url_for('static', filename='images/Room.png')}}" alt="Beregner beste produkt for rom">
      <p>Ved å fylle ut mest mulig for deg, med beregninger og innhenting av informasjon fra flere kilder vil det bli mindre arbeid for deg.
      </p>
    </div>
    <div class="col-md-6">
      <h2>Det har aldri vært så enkelt å fylle ut varmekabel-dokumentasjon.</h2>
      Vi henter inn informasjon om produkter og andre kilder mens vi regner ut verdier for deg, slik at du bare trenger å fylle ut den mest nødvendige informasjonen.
    </div>
    <div class="col-md-6">
      <h2>Husker og regner</h2>
      <p>Hvor mange Watt per m² blir det? Hva var nå organisasjonsnummeret vårt igjen? Hva er nominell resistans for denne kabelen?
      </p>
      <p>Det trenger du ikke vite lengre.</p>
      <p>Med produktinformasjon fra de største leverandørene av varmekabler, kan vi automatisk finne alt dette for deg.</p>
    </div>
  </div>
  <div class="col-md-4">
    <h2>Flere varmekabler på samme kunde og rom</h2>
    <p>Har du allerede lagt til til en kunde, kan du raskt legge til en varmekabel til, uten å fylle ut kundeinformasjonen igjen. Alt blir samlet på samme kunde, og delt inn etter rom/sted.
    </p>
    <p></p>
  </div>
  <div class="col-md-4">
    <h2>Alt lagres, alltid tilgjengelig</h2>
    Alle dine kollegaers dokumentasjon lagres og er tilgjengelig for alle i ditt firma. Disse kan sees og endres når som helst.
  </div>
</div>
<p class="text-center help-block">*Flere produsenter kommer</p>

{% endblock %}
