<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
  {% from "includes/formhelpers.html" import render_field,
  render_field_group %}
  <div data-bind="text: Products().getProducts()" ></div>
  <div data-bind="text: customer().get()"></div>
  <!-- ko if: Products().products().length == 0 -->
    Henter inn data...
    <span class="glyphicon glyphicon-refresh spinning"></span>
  <!-- /ko -->
  <!-- ko if: Products().products().length > 0 -->
  <!-- Tab panes -->
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane active" id="main_form">
      {% include 'includes/schema/form.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="user_forms">
      {% include 'includes/other/user_forms.html' %}
    </div>
    <div role="tabpanel" class="tab-pane" id="company">
      {% include 'includes/other/company_forms.html' %}
    </div>
  </div>
    <!-- /ko -->


{% endblock %}
{% block script %}
  {% from "includes/formhelpers.html" import render_field,
  render_field_group %}
  {% include 'includes/schema/select_heating_cable_form.html' %}
  {% include 'includes/schema/room_form_template.html' %}
  {% include 'includes/schema/measurements.html' %}
  {% include 'includes/schema/calculations_template.html' %}
{% endblock %}
