<!DOCTYPE html>
{% extends 'base.html' %}
{% block body %}
    <div class="row message-box">
        <div class="message">Ditt skjema er ferdig utfyllt.</div>
        <a href="{{url_for('download', filename=user_file)}}">Klikk her for å laste det ned.</a>

        <p>Hvis du vil gjøre endringer, trykker du tilbake i nettleseren.</p>

        <p class="bg-danger">MERK: Filen ovenfor er bare tilgjengelig i en kort periode. <br>Hvis du vil sende filen til noen, anbefales det å laste den ned først.</p>
        <p class="bg-danger" id="warning"></p>
    </div>
    <script type="text/javascript">
      var iOS = /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
      if (iOS) {
        document.getElementById("warning").innerHTML ='MERK: <strong>På iPhone vil skjemaet ikke vises</strong>. Likevel, skjemaet er fylt ut. For å vise skjemaet på iPhone, må det lastes ned en app som kan vise dette. Et gratis alternativ er <a href="https://itunes.apple.com/us/app/tinypdf-fill-forms-annotate-pdf-with-professional-reader/id596655478?mt=8">Tiny PDF</a>.';
      }

    </script>
{% endblock %}
