<!DOCTYPE html> {% extends 'base.html' %} {% block body %}
<div class="row">
  <div class="col-xs-12">

    {% if invite %}
    <h2>Invitasjon</h2>

    <p>Som registrert medlem vil du få fordeler som å slippe å taste inn informasjon om bedrift for hver gang. Du vil også kunne se dokumentasjone som andre medlemmer i din bedrift har laget, og redigere dem.</p>
    <hr> Du er invitert til å bli medlem av firmaet

    <strong>{{invite.company.name}}</strong> {% if current_user.company == invite.company %} Du er allerede medlem av dette firmaet. {% else %} {% if current_user.company %} Du er allerede medlem av
    <a href="{{url_for('control_panel_company')}}">{{ current_user.company.name }}</a>.
    <p>Er du sikker på at du vil melde deg inn i dette firmaet?</p>
    {% else %}
    <p>Trykk knappen nedenfor for å bekrefte innmelding.</p>
    {% endif %}
    <form action="{{url_for('get_invite', invite_id=invite.id)}}" method="post">
      <input class="btn btn-primary" type="submit" value="Meld meg inn">
    </form>
    {% endif %}
  </div>
  {% else %} Denne invitasjonsnøkkelen er dessverre ikke gyldig. {% endif %}
</div>

{% endblock %}
